# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
backend/venv/

# Environment variables
.env
backend/.env

# Mac
.DS_Store

# VSCode
.vscode/

# Node
node_modules/

# Logs
*.log

# Build
dist/
build/
